<div class="graph">
  <div class="graph__head dark-theme">
    <mat-tab-group mat-stretch-tabs color="primary">
      <mat-tab [label]="'MONEY' | translate"></mat-tab>
      <mat-tab [label]="'POINTS' | translate"></mat-tab>
    </mat-tab-group>
  </div>
  <div class="graph-component">
    <div class="dashboard-card">
      <div class="graph__grid">
        <div class="graph__balance" [class.error]="agentBlocked" your-custom="123"
          [attr.your-custom]="'BLOCKED' | translate">
          {{balance}} <span *ngIf="agentBlocked">{{'BLOCKED' | translate}}</span>
        </div>

        <div class="graph__settings">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="graph settings">
            <img src="{{pathService.assetsPath('/icons/three-dots.svg')}}" alt="settings">
          </button>
          <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="/balance"
              [clicklog]="{class: componentName, message: 'click balance in settings'}">
              <span>{{'BALANCE' | translate}}</span>
            </a>
            <button mat-menu-item routerLink="/overdraft-settings" *ngIf="show.overdraftSettings"
              [clicklog]="{class: componentName, message: 'click overdraft settings in settings'}">
              <span>{{'OVERDRAFT_SETTINGS' | translate}}</span>
            </button>
            <button mat-menu-item routerLink="/top-up" *ngIf="show.topUp"
              [clicklog]="{class: componentName, message: 'click top-up in settings'}">
              <span>{{'TOP_UP' | translate}}</span>
            </button>
          </mat-menu>
        </div>

        <div class="graph__graph">
          <ngx-charts-area-chart [results]="multi" [xAxis]="true" [yAxis]="true" legendPosition="right"
            [xAxisTickFormatting]="xAxisTickFormatting" [yAxisTickFormatting]="yAxisTickFormattingFn"
            [rotateXAxisTicks]="true" [yScaleMin]="min" [autoScale]="true" [showGridLines]="true"
            [yAxisTicks]="yAxisTicks" schemeType="ordinal" rangeFillOpacity="0.5" gradient="true"
            [scheme]="colorScheme">
          </ngx-charts-area-chart>
        </div>

        <div class="graph__expiration" *ngIf="expiresIn"><span class="bold">{{'EXPIRES' | translate}}</span>
          {{'EXPIRES_IN' | translate}} {{expiresIn}} {{'DAYS' | translate}}</div>
        <div class="graph__overdraft" *ngIf="overdraft"><span class="bold">{{'OVERDRAFT' | translate}}:</span>
          {{overdraft}}</div>
      </div>
    </div>
  </div>
</div>
