<section class="profile profile__container">
    <div class="mainColumn" [formGroup]="profileForm">
        <app-icon-input
            type="text"
            [formControl]="getFormControl('name')"
            icon="person"
            alt="person"
            placeholder="FIELD_USERNAME"></app-icon-input>
        <app-icon-input
            type="email"
            [formControl]="getFormControl('email')"
            [errorMessage]="formValidation['email']"
            icon="letter"
            alt="letter"
            placeholder="FIELD_EMAIL"></app-icon-input>
        <app-password-input
            placeholder="FIELD_PASSWORD"
            [errorMessage]="formValidation['password']"
            [formControl]="getFormControl('password')"></app-password-input>
        <app-password-input
            [class]="profileForm?.hasError('passwordMatchError') && profileForm?.touched ? 'alert__input_inside': ''"
            placeholder="CONFIRM_NEW_PASSWORD"
            [formControl]="getFormControl('passwordConf')"></app-password-input>
        <button class="btn__secect" (click)="confirm()" >
            {{'CONFIRM' | translate}}
        </button>
    </div>
    <div class="btn__cancel__wrap">
        <button
            class="btn__cancel"
            (click)="cancel()"
            [clicklog]="{class: componentName, message: 'cancel profile change'}">{{'CANCEL' | translate}}</button>
    </div>
</section>
<app-modal
    title="MODAL_TITLE"
    message="MODAL_MESSAGE"
    [modalActive]="modalActive"
    (modalActiveEvent)="oldPasswordModalEvent($event)"
    [withForm]=true
    (cbEvent)="checkCurrentPassword($event)"
></app-modal>
