<div mat-dialog-content  class="modal confirm__modal">
	<div class="modal__container">
		<div class="modal__text">
			<h6 *ngIf="data.title" class="modal__title">{{data.title | translate}}</h6>
			<p *ngIf="data.message" class="modal__description">{{data.message | translate}}</p>
		</div>
		<app-password-input *ngIf="data.withForm"
            [placeholder]="'CONFIRM_PASSWORD' | translate"
			[formControl]="form"></app-password-input>
		<div class="modal__buttons">
			<button class="btn__secect" (click)="formHandler()" mat-flat-button color="primary"
			[disabled]="data.withForm && !form.valid">
				{{ data.submitText || 'CONFIRM' | translate}}
			</button>
			<div class="btn__cancel__wrap">
				<button class="btn__cancel" (click)="cancel()"  mat-flat-button color="base">
					{{'CANCEL' | translate}}
				</button>
			</div>
		</div>
	</div>
</div>
