<main class="menu__wrapper">
	<nav *ngIf="agents.length + rooms.length > 0" class="agent">
		<ul class="agent__list">
			<!-- FIXME Исправить логику темы "item_current" -->
			<li
				*ngFor="let item of agents"
				[ngClass]="{
					'agent__list--item': true,
					'item_current': true,
					'item_disable': item.deleted || item.blocked}"
				routerLink="/agent/{{item.id}}">
				{{item.label}}
			</li>
			<li *ngFor="let item of rooms"
				[ngClass]="{
					'agent__list--item': true,
					'item_disable': item.deleted}"
				routerLink="/room/{{item.id}}">
				{{item.label}}
			</li>
		</ul>
	</nav>
	<section class="menu">
		<ul class="menu__list">
			<li class="menu__list--item" routerLink="profile">
				<div class="menu__icon">
					<img src="assets/icons/person.svg" alt="person">
				</div>
				<p class="menu__title">My profile</p>
			</li>
			<li class="menu__list--item" (click)="logOut()">
				<div class="menu__icon">
					<img src="assets/icons/logout.svg" alt="logout">
				</div>
				<p class="menu__title">Logout</p>
			</li>
			<li class="menu__list--item">
				<div class="menu__icon">
					<img src="assets/icons/language.svg" alt="lang">
				</div>
				<p class="menu__title">
					Language
					<span>Eng</span>
				</p>
			</li>
			<li class="menu__list--item" routerLink="support">
				<div class="menu__icon">
					<img src="assets/icons/messages.svg" alt="messages">
				</div>
				<p class="menu__title">Contact support</p>
			</li>
		</ul>

		<a (click)="noMobile()" href="https://test-a.itotem.net" class="switch">Switch to desktop version</a>
	</section>
</main>
