<main class="menu__wrapper">
	<nav *ngIf="agents.length + rooms.length > 0" class="agent">
		<ul class="agent__list">
			<!-- FIXME Исправить логику темы "item_current" -->
			<li
				*ngFor="let item of agents"
				[ngClass]="{
					'agent__list--item': true,
					'item_current': true,
					'item_disable': item.deleted || item.blocked}"
				routerLink="/agent/{{item.id}}">
				{{item.label}}
			</li>
			<li *ngFor="let item of rooms"
				[ngClass]="{
					'agent__list--item': true,
					'item_disable': item.deleted}"
				routerLink="/room/{{item.id}}">
				{{item.label}}
			</li>
		</ul>
	</nav>
	<section class="menu">
		<ul class="menu__list">
			<li class="menu__list--item" routerLink="profile">
				<div class="menu__icon">
					<img src="assets/icons/person.svg?v={{env.version}}" alt="person">
				</div>
				<p class="menu__title">My profile</p>
			</li>
			<li (click)="logOut()" class="menu__list--item">
				<div class="menu__icon">
					<img src="assets/icons/logout.svg?v={{env.version}}" alt="logout">
				</div>
				<p class="menu__title">Logout</p>
			</li>
			<li class="menu__list--item menu__lang" [ngClass]="{lang__list_visible: langListVisible}">
				<div class="munu--item__wrapper" (click)="langListVisible = !langListVisible">
					<div class="menu__icon">
						<img src="assets/icons/language.svg?v={{env.version}}" alt="lang">
					</div>
					<p class="menu__title">
						{{"LANGUAGE" | translate}}
						<span>{{currentLocale | titlecase}}</span>
					</p>
				</div>
				<ul class="lang__list">
					<li *ngFor="let lang of languages"
						class="lang__list--item"
						(click)="changeLocale(lang.code)">
						<p>{{lang.localeName}}</p>
						<span>{{lang.code}}</span>
					</li>
				</ul>
			</li>
			<li class="menu__list--item" routerLink="support">
				<div class="menu__icon">
					<img src="assets/icons/messages.svg?v={{env.version}}" alt="messages">
				</div>
				<p class="menu__title">Contact support</p>
			</li>
		</ul>

		<a (click)="noMobile()" [href]="toDesktopLink" class="switch">Switch to desktop version</a>
	</section>
</main>
