/* NotoSans (Light) */

@font-face {
	font-family: 'NotoSans';
	font-weight: 300;
	src: url(./fonts/NotoSans-Light.ttf) format('truetype');
}

/* NotoSans (Regular) */

@font-face {
	font-family: 'NotoSans';
	font-weight: 400;
	src: url('./fonts/NotoSans-Regular.ttf') format('truetype');
}

/* NotoSans (Medium) */

@font-face {
	font-family: 'NotoSans';
	font-weight: 500;
	src: url('./fonts/NotoSans-Medium.ttf') format('truetype');
}

/* NotoSans (SemiBold) */

@font-face {
	font-family: 'NotoSans';
	font-weight: 600;
	src: url('./fonts/NotoSans-SemiBold.ttf') format('truetype');
}

/* NotoSans (Bold) */

@font-face {
	font-family: 'NotoSans';
	font-weight: 700;
	src: url('./fonts/NotoSans-Bold.ttf') format('truetype');
}

/* NotoSans (ExtraBold) */

@font-face {
	font-family: 'NotoSans';
	font-weight: 800;
	src: url('./fonts/NotoSans-ExtraBold.ttf') format('truetype');
}
