
:root {
	--black: #000000;
	--black-light: #51555F;
	--white: #ffffff;
	--light-bg: #F6F6F9;
	--gray-line: #E4E4E7;
	--special-text-cl: #1C1939;
	--special-accent: #4B6AC0;
	--special-accent-darked: #2F56A7;
	--special-accent-50a: #D8E2FF;
	--special-red: #F35858;
	--special-red-80a: #f17575;
	--special-green: #51B478;
	--special-gray: rgb(158, 166, 190);
	--modal-bg-60a: rgba(62, 76, 88, 0.6);


	--radius-def: 10px;
	--container-pad: 16px;
}
$white: rgb(255, 255, 255)