@import "./variables";

$mat-my: (
  100: var(--special-accent-50a),
  500: var(--special-accent),
  700: var(--special-accent-darked),
  contrast: (
    100: var(--white),
    500: var(--white),
    700: var(--white),
  )
);


$blue-light: (
  100: var(--white),
  500: var(--special-accent-50a),
  700: var(--special-accent),
  contrast: (
    100: var(--white),
    500: var(--white),
    700: var(--white),
  )
);

$blue-for-dark: (
  100: var(--white),
  500: var(--white),
  700: var(--white),
  contrast: (
    100: var(--special-accent-darked),
    500: var(--special-accent-darked),
    700: var(--special-accent-darked),
  )
);