@import "./variables";
@import './normalize';
@import './fonts';

// Theme Invalid inputs and selects
.alert__input {
	border: 1px solid var(--special-red);
}
// FIXME Remove remove me please
.alert__input_inside input {
	border: 1px solid var(--special-red) !important;
}


.btn__secect{
	height: 60px;
	border: none;
	border-radius: var(--radius-def);
	background-color: var(--special-accent);
	font-size: 16px;
	color: var(--white);
	text-align: center;
}

.btn__cancel{
	border: none;
	background-color: transparent;
	color: var(--special-text-cl);
	font-size: 16px;
	padding: 24px;

	&__wrap {
		display: flex;
		justify-content: center;
	}
}
