@import "./variables";
@import './normalize';
@import './fonts';

// Theme Invalid inputs and selects
.alert__input {
	border: 1px solid var(--special-red);
	color: var(--special-red);
}
// FIXME Remove remove me please
.alert__input_inside > input {
	border: 1px solid var(--special-red) !important;
	color: var(--special-red);
}
