<div class="input__wrapper">
    <span class="input__error">{{errorMessage}}</span>
    <img
        class="input__icon"
        *ngIf="icon"
        src="{{pathService.assetsPath('/icons/'+ icon +'.svg')}}"
        [alt]=alt>
    <input
        [ngClass]="{'input__form': true, 'input__form__no_icon': !icon,'alert__input': formControl.touched && formControl.invalid || errorMessage && errorMessage !== ''}"
        [placeholder]=placeholder
        [type]=type
        [formControl]="formControl"/>
</div>
