@import "src/styles/variables";

.form{
    position: relative;
}

.error_visible {
    margin-bottom: -22px;
    .input__error{
        bottom: 4px;
        position: relative;
        white-space: normal;
    }
}

.input__wrapper {
    position: relative;
    box-sizing:border-box;
    width: 100%;

}

// Input

.input__form {
    font-size: 14px;
    color: var(--special-text-cl);

    &::placeholder {
        font-size: 14px;
        color: var(--special-gray);
    }
}


// Error message

.input__error {
    color: var(--special-red);
    font-size: 12px;
    position: absolute;
    left: 2px;
    bottom: -17px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


:host ::ng-deep .mat-form-field-wrapper {
    margin: 0;
    padding: 0;

    .mat-form-field-flex{
        padding-left: 16px;
        padding-right: 16px;
    }

    .mat-form-field-infix{
        display: grid;
        grid-template-columns: min-content 1fr min-content;
        align-items: center;
        gap: 20px;
        padding: 20px 0 17px;
        border-top: 0;
    }

    .mat-form-field-label-wrapper{
        top: -3px;
    }

}
