<div controlErrorContainer class="form" [ngClass]="{error_visible: !hideError}">
    <mat-form-field
        hideRequiredMarker
        appearance="outline"
        class="input__wrapper">
        <mat-label>{{label ? label : placeholder | translate}}</mat-label>
        <img
            class="input__icon"
            *ngIf="icon"
            src="{{pathService.assetsPath('/icons/'+ icon +'.svg')}}"
            [alt]=alt>
        <input
            *ngIf="!percent"
            matInput
            [ngClass]="{'input__form': true, 'input__form__no_icon': !icon}"
            [placeholder]="placeholder | translate"
            [type]="type === 'password'
                ? hidePass ? 'password' : 'text'
                : type"
            [formControl]="formControl"/>
        <input
            *ngIf="percent"
            appPercentDirective
            matInput
            [ngClass]="{'input__form': true, 'input__form__no_icon': !icon}"
            [placeholder]="placeholder | translate"
            type="number"
            [formControl]="formControl"/>
        <img
            *ngIf="type === 'password'"
            class="input__eye"
            (click)="hidePass = !hidePass"
            src="{{pathService.assetsPath('/icons/eye.svg')}}"
            alt="eye">
    </mat-form-field>
</div>
