header {
    background-color: var(--special-accent);
    height: 52px;
    align-content: center;
    display: grid;

    .header-text {
        font-family: Noto Sans;
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0px;
        text-align: center;
        color: var(--white);
    }
}

.profile {
    &__container {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.mainColumn {
    display: grid;
    gap: 20px;
}
