.input__error {
	display: inline-block;
	position: absolute;
	color: var(--special-red);
	font-size: 12px;
	max-width: calc(100vw - var(--container-pad) * 2);
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 16px;
}

.error_visible {
	position: relative;
	white-space: normal;
	margin-bottom: -16px;
}
