<mat-form-field
floatLabel="auto"
hideRequiredMarker
appearance="outline"
[ngClass]="{input__container_visible: !hideError}"
class="input__container">
    <mat-label>{{placeholder | translate}}</mat-label>
    <div class="input__wrapper">
        <img class="input__icon" src="{{pathService.assetsPath('/icons/lock.svg')}}" alt="lock">
        <input
            matInput
            [formNoValidate]="!!errorMessage"
            сlass="input__form"
            [type]="hidePass ? 'password' : 'text'"
            [formControl]="formControl" />
            <img
                class="input__eye"
                (click)="hidePass = !hidePass"
                src="{{pathService.assetsPath('/icons/eye.svg')}}"
                alt="eye">
    </div>
    <span class="input__error" (click)="hideError = !hideError">{{errorMessage | translate}}</span>
</mat-form-field>
