<div [ngClass]="{input__container_visible: !hideError}" class="input__container">
    <span class="input__error" (click)="hideError = !hideError">{{errorMessage | translate}}</span>
    <div class="input__wrapper">
        <img class="input__icon" src="{{pathService.assetsPath('/icons/lock.svg')}}" alt="lock">
        <input
            [ngClass]="{'input__form': true,'alert__input': formControl.touched && formControl.invalid || errorMessage && errorMessage !== ''}"
            [type]="hidePass ? 'password' : 'text'"
            [placeholder]="placeholder | translate"
            [formControl]="formControl" />
        <img class="input__eye" src="{{pathService.assetsPath('/icons/eye.svg')}}" alt="eye" (click)="hidePass = !hidePass">
    </div>
</div>
