@import "src/styles/variables";

.input__password__wrapper {
    display: grid;
    grid-template-columns: 22px 1fr 19.5px;
    gap: 12px;

    background: var(--white);
    padding-top: 16px;
    padding-bottom: 17px;
    padding-left: 21px;
    padding-right: 25px;
}

input {
    width: 100%;
    border: none;
    color: var(--special-text-cl);
    padding-top: 11px 3rem;
    padding-bottom: 11px 3rem;
    border-radius: var(--radius-def);
    outline: none;

    &::placeholder {
        letter-spacing: normal;

        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: var(--special-gray) !important;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

input[type=password] {
    font-weight: 900;
    letter-spacing: 12px;
    font-size: 20px;
    line-height: 22px;
    padding-top: 14px 3rem;
    padding-bottom: 14px 3rem;
}

input[type='text'] {
    font-size: 14px;
    letter-spacing: 0;
    padding-top: 17px 3rem;
    padding-bottom: 17px 3rem;
}

.input-eye {
    width: 16px
}
