<mat-toolbar class="agent_header" color="primary" [style.borderBottomColor]="borderBottom">
    <a *ngIf="isRoot" class="agent_header__burger_btn" routerLink="/settings" mat-flat-button color="primary"
        [clicklog]="{class: componentName, message: 'click menu'}">
        <img src="{{pathService.assetsPath('/icons/burger.svg')}}">
    </a>
    <button *ngIf="!isRoot" (click)="previousPage()" mat-flat-button color="primary"
        [clicklog]="{class: componentName, message: 'click back to root agent'}">
        <img class="agent_header__back_btn" src="{{pathService.assetsPath('/icons/arrow.svg')}}">
    </button>
    <span class="agent_header__title">{{title}}</span>
    <a mat-icon-button aria-label="search" routerLink="/search">
        <mat-icon class="agent_header__search">search</mat-icon>
    </a>
    <a mat-icon-button routerLink="/notifications">
        <img class="agent_header__notifications" 
        src="{{pathService.assetsPath('/icons/notification' + (notifications ? '_dot' : '') +'.svg')}}">
    </a>
</mat-toolbar>