<section class="profile profile__container">
    <div class="mainColumn" [formGroup]="profileForm">

        <app-icon-input
            type="text"
            formControlName="name"
            [form]="profileForm"
            icon="person"
            alt="person"
            placeholder="Your login"></app-icon-input>
        <app-icon-input
            type="email"
            formControlName="email"
            [form]="profileForm"
            icon="letter"
            alt="letter"
            placeholder="Email"></app-icon-input>
        <app-password-input
            formControlName="password"
            placeholder="Password"></app-password-input>
        <app-password-input
            [class]="profileForm?.hasError('passwordMatchError')
            && profileForm?.touched ? 'alert__input_inside': ''"
            [placeholder]="'CONFIRM_NEW_PASSWORD' | translate" formControlName="passwordRep"></app-password-input>
        <button class="button__profile" (click)="confirm()">{{'CONFIRM' | translate}}</button>
    </div>
    <div class="button__wrap">
        <button
            class="button__transparent"
            (click)="cancel()">{{'CANCEL' | translate}}</button>
    </div>
</section>
