<section *appSpinner="isLoading | async">
	<app-header
		[mode]="headerMode"
		title="AGENT_RATE"
		[confirm]="onSubmit"
		[cancel]="resetChanges">
	</app-header>
	<form
		*appSpinner="isLoading | async"
		[formGroup]="forms"
		[appForm]
		id="ngForm"
		class="main_section rates"
		(ngSubmit)="onSubmit()">
		<div class="rates__base">
			<mat-form-field hideRequiredMarker appearance="outline" class="rates__base_form" floatLabel="always">
				<mat-label class="rates__base_input">{{ 'GLOBAL_RATE' | translate}}</mat-label>
				<input
					type="number"
					matInput
					[appPercentDirective]
					[disableControl]="!isEditing"
					formControlName="globalRate"
					class="rates__base_input"/>
			</mat-form-field>
		</div>
		<app-slide-btn
			[mode]="ModeSlideBtn.button"
			*ngIf="!isEditing && permitions.editor"
			off_text="Slide to edit"
			(pending_on)="toEdit(true)">
		</app-slide-btn>

		<app-groups
			[dataTree]="groupTree"
			[parentForm]="forms"
			formName="groups"
			[isEditing]="isEditing"
			[permitions]="permitions">
		</app-groups>
	</form>
</section>
