
<section *appSpinner="isLoading | async" class="main_section rates" [formGroup]="forms">
	<div class="rates__base">
		<mat-form-field hideRequiredMarker appearance="outline" class="rates__base_form" floatLabel="always">
			<mat-label class="rates__base_input">{{ 'GLOBAL_RATE' | translate}}</mat-label>
			<input
			type="number"
			matInput
			appPercentDirective
			formControlName="globalRate"
			class="rates__base_input"/>
		</mat-form-field>
	</div>
	<app-slide-btn
	*ngIf="!isEditing && editor"
	off_text="Slide to edit"
	(pending_on)="toEdit(true)"
	></app-slide-btn>

	<!-- Template Group -->
	<ng-template #group let-items="children" let-isSubgroup="isSubgroup">
		<mat-accordion [formGroup]="forms" class="rates__groups" [ngClass]="{'rates__subgroups': isSubgroup, 'rates--edit': isEditing}"  multi>
			<mat-expansion-panel
				expanded="false" *ngFor="let item of items;"
				[hideToggle]="!item.children"
				class="rates__groups--item"
				[ngClass]="{'rates__groups--item--hide': !item.children}">

				<mat-expansion-panel-header>
					<mat-panel-title class="accordion__header">
						<span class="accordion__header__range" *ngIf="!isSubgroup">5 - 15%</span>
						<h3 class="accordion__header__title">{{item.data.groupName}}</h3>
					</mat-panel-title>
					<mat-panel-description [formGroupName]="item.data.groupId" class="accordion__description">
						<input
							type="number"
							*ngIf="isEditing; else rateReadOnly"
							appPercentDirective
							formControlName="rate"
							(click)="skipAccordionExpanding($event)"
							class="accordion__rate_inp" />
						<ng-template #rateReadOnly>
							<span class="accordion__rate_text">{{ item.rateInfo.rate | percent:'1.0-3'}}</span>
						</ng-template>
						<mat-slide-toggle
							formControlName="excluded"
							(click)="skipAccordionExpanding($event)"></mat-slide-toggle>
					</mat-panel-description>
				</mat-expansion-panel-header>

				<ng-container
					*ngIf="item.children"
					[ngTemplateOutlet]="group"
					[ngTemplateOutletContext]="{ children: item.children, isSubgroup: true }"> </ng-container>
				<h3>{{testLog()}}</h3>
			</mat-expansion-panel>
		</mat-accordion>
	</ng-template>

	<ng-container [ngTemplateOutlet]="group" [ngTemplateOutletContext]="{ children: groupTree, isSubgroup: false }"> </ng-container>

	<button (click)="resetChanges()">Cancel</button>
	<button (click)="onSubmit()">Submit</button>
</section>
