// Spinner
.spinner {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 99;

	&__dot {
		width: 16px;
		height: 16px;
		border-radius: 8px;
		background-color: var(--special-accent);

		&:nth-child(3n+1) {
			animation: wave 2s ease .0s infinite;
		}

		&:nth-child(3n+2) {
			animation: wave 2s ease .2s infinite;
		}

		&:nth-child(3n+3) {
			animation: wave 2s ease .4s infinite;
		}
	}
}

@keyframes wave {
	0% {
		transform: translateY(0);
		opacity: 1;
	}

	50% {
		transform: translateY(20px);
		opacity: .75;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
